{% extends "layout.html" %}

{% block title %}Your Trip{% endblock %}

{% block content %}
<div id="app" class="clearfix">
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TripPlanner</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="sidebar row">

          <div class="dropdowns col-lg-12">dropdowns</div>

          <div class="day-label col-lg-12">Day X</div>

          <div class="day-buttons col-lg-12">Buttons</div>

          <div class="itinerary col-lg-12">Itinerary</div>

        </div>
      </div>
      <div class="col-lg-8">

        <div id="map-canvas" class="col-lg-12">Map</div>

      </div>
    </div>
  </div>

</div>
{% endblock %}
