.clearfix::before, .clearfix::after {
  clear: both;
  display: block;
  content: ""; }

.navbar {
  margin-bottom: 10px; }

.dropdowns {
  height: 250px;
  margin: 0 auto;
  border: black solid 2px;
  background-color: lightblue; }

.day-label {
  height: 75px;
  margin: 0 auto;
  border: black solid 2px;
  background-color: lightblue; }

.day-buttons {
  height: 75px;
  margin: 0 auto;
  border: black solid 2px;
  background-color: lightblue; }

.itinerary {
  height: 250px;
  margin: 0 auto;
  border: black solid 2px;
  background-color: lightblue; }
